body {
    margin: 50px;
    background-image: url("assets/images/bground.jpg");
    background-size: cover;
    font-family: 'Gugi', cursive;
}
.button {
    text-decoration: none;
    color:white;
    border: solid white;
    padding: 5px;
    border-radius: 15px;
}
    a:hover {
        color: #FF3D39;
        box-shadow: 0px 5px 10px white;
    }
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 15% 20% 1fr 20%;
    margin-left: 3%;
}
.socials {
    position: fixed;
    top: 100px;
    left: 0;
}
    .box {
        background-color: rgba(0, 0, 0, 0.1);
        text-align: center;
        color: white;
        border-radius: 15px;
    }
        .box h2 {
            text-decoration: underline;
        }
        .box h3 {
            text-decoration: underline;
        }
        .box q {
            font-style: italic;
            font-size: 80%;
        }
        .header {
            grid-area: 1 / 1 / 2 / span 2;
            border-right: solid 3px white;
            border-left: solid 3px white;
        }
            .header h1 {
                text-transform: uppercase;
                text-decoration: underline;
            }
        .personalia {
            grid-area: 2 / 1 / 3 / 2;
            border-right: solid 3px white;
            border-left: solid 3px white;
        }
        .profiel {
            grid-area: 2 / 2 / 3 / 3;
            border-left: solid 3px white;
            border-right: solid 3px white;
            padding-right: 10px;
        }
        .vaardigheden {
            grid-area: 3 / 1 / 5 / 2;
            border-right: solid 3px white;
            border-left: solid 3px white;
        }
            .container {
                width: 80%;
                background-color: rgba(0, 0, 0, 0.5);
                margin-left: 10%;
                border: solid white;
                border-radius: 15px;
            }
                .skillbar {
                    text-align: right;
                    padding: 5px;
                    color: black;
                }
                    .Kl {
                        width: 97.5%;
                        background-color: white;
                        border-radius: 11px;
                    }
                    .IT {
                        width: 50%;
                        background-color: white;
                        border-radius: 11px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    .Cole {
                        width: 90%;
                        background-color: white;
                        border-radius: 11px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    .Eng {
                        width: 70%;
                        background-color: white;
                        border-radius: 11px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    .Spo {
                        width: 90%;
                        background-color: white;
                        border-radius: 11px;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
        .werkervaring {
            grid-area: 3 / 2 / 4 / 3;
            text-align: left;
            padding-left: 20px;
            border-left: solid 3px white;
            border-right: solid 3px white;
        }
            .werkervaring h2 {
                text-align: center;
            }
        .opleiding {
            grid-area: 4 / 2 / 5 / 3;
            text-align: left;
            padding-left: 20px;
            border-left: solid 3px white;
            border-right: solid 3px white;
        }
            .opleiding h2 {
                text-align: center;
            }

@media only screen and (max-width:600px) {
    .header {
        grid-area: 1 / 1 / 2 / 3;
    }
    .personalia {
        grid-area: 2 / 1 / 3 / 3;
        overflow: auto;
    }
    .profiel {
        grid-area: 3 / 1 / 4 / 3;
    }
    .werkervaring {
        grid-area: 4 / 1 / 5 / 3;
    }
    .opleiding {
        grid-area: 5 / 1 / 6 / 3;
    }
    .vaardigheden {
        grid-area: 6 / 1 / 7 / 3;
    }
    .socials {
        max-width: 3%;
    }
}