body {
  margin: 50px;
  background-image: url("../images/bground.jpg");
  background-size: cover;
  font-family: 'Gugi', cursive;
}

body a:hover {
  color: #FF3D39;
  -webkit-box-shadow: 0px 5px 10px white;
          box-shadow: 0px 5px 10px white;
}

body .wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  -ms-grid-rows: 15% 20% 1fr 20%;
      grid-template-rows: 15% 20% 1fr 20%;
  margin-left: 3%;
}

body .socials {
  position: fixed;
  top: 100px;
  left: 0;
}

.box {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  border-radius: 15px;
}

.box h2 {
  text-decoration: underline;
}

.box h3 {
  text-decoration: underline;
}

.box q {
  font-style: italic;
  font-size: 80%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / span 2;
  border-right: solid 3px white;
  border-left: solid 3px white;
}

.header h1 {
  text-transform: uppercase;
  text-decoration: underline;
}

.personalia {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  border-right: solid 3px white;
  border-left: solid 3px white;
}

.personalia .button {
  text-decoration: none;
  color: white;
  border: solid white;
  padding: 5px;
  border-radius: 15px;
}

.profiel {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  border-left: solid 3px white;
  border-right: solid 3px white;
  padding-right: 10px;
}

.vaardigheden {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 5 / 2;
  border-right: solid 3px white;
  border-left: solid 3px white;
}

.vaardigheden .container {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 10%;
  border: solid white;
  border-radius: 15px;
}

.vaardigheden .container .skillbar {
  text-align: right;
  padding: 5px;
  color: black;
}

.vaardigheden .container .Kl {
  width: 97.5%;
  background-color: white;
  border-radius: 11px;
}

.vaardigheden .container .IT {
  width: 50%;
  background-color: white;
  border-radius: 11px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.vaardigheden .container .Cole {
  width: 90%;
  background-color: white;
  border-radius: 11px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.vaardigheden .container .Eng {
  width: 70%;
  background-color: white;
  border-radius: 11px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.vaardigheden .container .Spo {
  width: 90%;
  background-color: white;
  border-radius: 11px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.werkervaring {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  text-align: left;
  padding-left: 20px;
  border-left: solid 3px white;
  border-right: solid 3px white;
}

.werkervaring h2 {
  text-align: center;
}

.opleiding {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
  text-align: left;
  padding-left: 20px;
  border-left: solid 3px white;
  border-right: solid 3px white;
}

.opleiding h2 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  .personalia {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    overflow: auto;
  }
  .profiel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
  }
  .werkervaring {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / 5 / 3;
  }
  .opleiding {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 5 / 1 / 6 / 3;
  }
  .vaardigheden {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 6 / 1 / 7 / 3;
  }
  .socials {
    max-width: 3%;
  }
}
/*# sourceMappingURL=main.css.map */